# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv/
env/
venv/
ENV/
.octogemma_models.json

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# Operating System
.DS_Store
Thumbs.db
